* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
    /*border: 1px solid red;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
.header {
    height: 50px;
    background-color: black;
    position: relative;
}
.nav div {
    color: white;
    padding: 15px 10px;
}
.header .login {
    position: absolute;
    right: 0;
    padding-top:15px ;
    height: 100%;
}
.link {
    background-color: #F1F1F1;
    display: none;
    margin-top: 17px;
}

#ok:hover .link {
    display: block;
}
.content {
    height: 500px;
}
.left_content {
    height: 100%;
    color: black;
}
